language: python
python:
  - "3.6"
before_install:
  - wget https://github.com/jgm/pandoc/releases/download/2.9.2.1/pandoc-2.9.2.1-1-amd64.deb
  - sudo dpkg -i pandoc-2.9.2.1-1-amd64.deb
  - pandoc -v
install:
  - pip install tox
  - pip install coverage
  - pip install coveralls
script:
  - tox
  - coverage run --source=pandoc_numbering setup.py test
after_success:
  - coveralls
